* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Centrar la página */
.container {
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
    }

.parteSuperior {
    background-color: rgb(30, 49, 96);
    height: 25vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

    .logotipos {
        width: 40%;
        height: max-content;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .logoVisual {  
            width: 50%;
            height: 50%;

            padding: 0px;
            margin-left: 5vh;
            margin-right: 2vh;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logoVisual img {
            height: 10vh;
        }


    .FotoEdificio{
        background-image: url(img/banner.jpg);
        background-size: cover;
        height: 25vh;
        width: 60%;



        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ubicacion span{
        height: 30px;
        padding: 5px;
        margin: 5 px;
        border: 2px solid orange;
        color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Estilo para el encabezado */
    .header {
        background-color: darkgray; 
        height: 10vh;
        color: rgb(67, 67, 67);

        margin-top: 1vh;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }


            /* Estilo para el menú */
    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        padding: 10px;
    }

        .menu_opciones {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .menu_opciones span{

            text-align: center;
            font-size: 2vw;
            height: 100%;
            margin: 1px;
            margin-left: 5px;
            margin-right: 5px;
            padding: 8px;
        }
        
    /* Estilo para el titulo de la seccion */
    .tituloTexto {
        height: 20vh;

        display: flex;
        justify-items: center;
        align-items: center;

        flex-direction: column;
        margin-top: 20px;
    }

        .tituloTexto span {
            border: 3px solid black;
            padding-left: 10vh;
            padding-right: 10vh;
            margin: 5px;
            height: min-content;
        }
    
    /* Estilo para las subsecciones */
    .subsection {

    height: max-content;
    width: 1300px;

    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .imagen_cuadrada {
        width: 40vh;
        height: 40vh;

        margin: 10px;
        padding: 2%;
        border-radius: 2%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background-image: url(imagenes/5.jpg);
        background-size: contain;
    }

        .imagen_cuadrada span {
            border: 1px solid white;
            
            padding: 0px;
            margin: 5px;
            margin-bottom: 10px;
            font-size: 1vh;
        }


    /* Estilo para el pie de página */
    .footer {
        background-color: black;
        height: max-content;
        color: white;
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        padding: 10px;
        

    }

    .footer span {
        border: 2px solid white;
        width: max-content;
        padding: 2px;
    }

    .infoDelFooter {

        width: max-content;
        margin: 10px;

        display: flex;
        flex-direction: row;
        justify-items: flex-start;
    }

    .izquierda {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .izquierda span{
        margin: 5px;
    }

    .centro {
        margin: 5px;
        padding: 2%;
    }

    .centro div {
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .centro span {
        margin: 5px;
    }


.derecha {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-left: 80vh;
}
    .derecha span {
        margin: 2px;
    }

.linea {
    margin: 1px solid gray;
    width: 100vh;
    height: 2px;
}

.copyright {
    border: 2px solid white;
    width: max-content;
    padding: 5px;
}
