/* Utilizar tres rangos de tamaño 
1 Móvil de 0px a 680px 
2 Tableta de 681px a 1024px
3 Monitor de 1025px en adelante */

* {font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* Centrar la página */
.container { width: 100%; margin: 0 auto;}

/* -------------------------- Estilo para moviles -------------------------- */
/* --------------------------                      -------------------------- */
/* --------------------------                      -------------------------- */
@media (max-width: 680px){
    .parteSuperior {
        background-color: #17325b;
        border: 2px solid rgb(189, 5, 5);
        height: 80vh;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    
    }
    
        .logotipos {
            height: max-content;
    
            display: flex;
            flex-direction: row;
            align-items: center;
        }
            .logoVisual {  
                height: 20vh;
    
                padding: 0px;
                margin-left: 5vh;
                margin-right: 2vh;
    
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .logoVisual img {
                width: 15vw;
            }
    
    
        .FotoEdificio{
            background-image: url(img/banner.jpg);
            background-size: cover;
            height: 25vh;
            width: 100vw;
    
    
    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        /* Estilo para el encabezado */
        .header {
            background-color: rgb(218,218,218); 
            height: 5vh;
            color: rgb(67, 67, 67);
    
            margin-top: 1vh;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    
    
                /* Estilo para el menú */
        .menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: space-evenly;
            justify-content: center;
            padding: 10px;
        }
    
            .menu_opciones {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
    
            .menu_opciones div{
    
                text-align: center;
                font-size: 16px;
                height: 100%;
                width: 100%;
                margin: 1px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 8px;
            }
    
    .cuerpo {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
    } 
        
    .seccionIzquierda {
        height: 5vh; 
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: space-between;
        font-size: 1vw;
    }
        .seccionIzquierda div {
            background-color: rgb(31,114,183);
            color: white;
            margin: 2px;
            padding: 4px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    .seccionDerecha {
        height: 50vh;
        background-color: bisque;
        margin-top: 2vh;
    }
    
    .seccionImagenes {
        color: white;
        height: max-content;
        width: 95vw;
        margin-top: 2vh;
    
        display: flex;
        flex-direction: column;
    }   .seccionImagenes span p{font-size: 2vw; width: 100vw; padding-left: 2vw;}

        .contenedorIconos {
            display: flex;
            flex-direction: row;
            margin: 2vh;
            justify-content: space-around;
        }
    
        /* Estilo para el pie de página */
        .footer {
            background-color: rgb(218,218,218);
            height: 25vh;
            color: black;
            margin-top: 1vh;
    
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: flex-start;
        }   .footer span { padding-left: 5vw; height: 3vh;}
}

/* -------------------------- Estilo para Tablet -------------------------- */
/* --------------------------                      -------------------------- */
/* --------------------------                      -------------------------- */
@media (max-width: 1024px){
    .parteSuperior {
        background-color: #17325b;
        height: 25vh;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
    }
    
        .logotipos {
            height: max-content;
    
            display: flex;
            flex-direction: row;
            align-items: center;
        }
            .logoVisual {  
                height: 20vh;
    
                padding: 0px;
                margin-left: 5vh;
                margin-right: 2vh;
    
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .logoVisual img {
                width: 15vw;
            }
    
    
        .FotoEdificio{
            background-image: url(img/banner.jpg);
            background-size: cover;
            height: 25vh;
            width: 60vw;
    
    
    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        /* Estilo para el encabezado */
        .header {
            background-color: rgb(218,218,218); 
            height: 5vh;
            color: rgb(67, 67, 67);
    
            margin-top: 1vh;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    
    
                /* Estilo para el menú */
        .menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: space-evenly;
            justify-content: center;
            padding: 10px;
        }
    
            .menu_opciones {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
    
            .menu_opciones div{
    
                text-align: center;
                font-size: 16px;
                height: 100%;
                width: 100%;
                margin: 1px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 8px;
            }
    
    .cuerpo {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
    } 
        
    .seccionIzquierda {
        height: 5vh; 
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: space-around;
        justify-content: space-between;
        font-size: 1vw;
    }
        .seccionIzquierda div {
            background-color: rgb(31,114,183);
            color: white;
            margin: 2px;
            padding: 4px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    .seccionDerecha {
        height: 50vh;
        background-color: bisque;
        margin-top: 2vh;
    }
    
    .seccionImagenes {
        color: white;
        height: max-content;
        width: 95vw;
        margin-top: 2vh;
    
        display: flex;
        flex-direction: column;
    }   .seccionImagenes span p{font-size: 2vw; width: 100vw; padding-left: 2vw;}

        .contenedorIconos {
            display: flex;
            flex-direction: row;
            margin: 2vh;
            justify-content: space-around;
        }
    
        /* Estilo para el pie de página */
        .footer {
            background-color: rgb(218,218,218);
            height: 25vh;
            color: black;
            margin-top: 1vh;
    
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: flex-start;
        }   .footer span { padding-left: 5vw; height: 3vh;}
}

/* -------------------------- Estilo para Monitor -------------------------- */
/* --------------------------                      -------------------------- */
/* --------------------------                      -------------------------- */

@media (min-width: 1025px){
    .parteSuperior {
        background-color: #17325b;
        height: 25vh;
    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
    }
    
        .logotipos {
            height: max-content;
    
            display: flex;
            flex-direction: row;
            align-items: center;
        }
            .logoVisual {  
                width: 20vw;
    
                padding: 0px;
                margin-left: 5vh;
                margin-right: 2vh;
    
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .logoVisual img {
                width: 20vw;
            }
    
    
        .FotoEdificio{
            background-image: url(img/banner.jpg);
            background-size:cover;
            height: 25vh;
            width: 60vw;
    
    
    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        /* Estilo para el encabezado */
        .header {
            background-color: rgb(218,218,218); 
            height: 5vh;
            color: rgb(67, 67, 67);
    
            margin-top: 1vh;
    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    
    
                /* Estilo para el menú */
        .menu {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: space-around;
            padding: 10px;
        }
    
            .menu_opciones {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
    
            .menu_opciones span{
    
                text-align: center;
                font-size: 2vw;
                height: 100%;
                width: 100%;
                margin: 1px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 8px;
            }
    
    .cuerpo {
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
    } 
        
    .seccionIzquierda {
        width: 30vw;    
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
    }
        .seccionIzquierda div {
            background-color: rgb(31,114,183);
            color: white;
            margin: 2px;
            padding: 4px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    .seccionDerecha {
        width: 100%;
        height: 50vh;
        background-color: bisque;
        margin-left: 2vw;
    }
    
    .seccionImagenes {
        color: white;
        width: 30vw;
        height: 45vh;
        margin-left: 1vw;
    
        display: flex;
        flex-direction: column;

    }   .seccionImagenes span p{font-size: small; width: 92%;}

    .contenedorIconos{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }   .contenedorIconos div {
        margin: 5px;
    }
    
        /* Estilo para el pie de página */
        .footer {
            background-color: rgb(218,218,218);
            height: 25vh;
            color: black;
            margin-top: 1vh;
    
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: flex-start;
        }   .footer span { padding-left: 5vw; height: 3vh;}
}

